@model WagDog.Models.Dog
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WagDog</title>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/site.css" />
</head>

<body>
    <div class="container body-content" id="wrapper">
        <div class="Logo">
            <h1>Who's a Good Dog?</h1>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="Dashboard">Home</a></li>
                <li><a href="#news">Search</a></li>
                <li><a href="#news">Matches</a></li>
            </ul>

            <ul style="float:right;">
                <li><a href="#news">Messages</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">My Account</a>
                    <div class="dropdown-content">
                        <a href="UserProfile">My Profile</a>
                        <a href="#">Logout</a>
                        <a href="#">Preferences</a>
                        <a href="#">Settings</a>
                    </div>
                </li>

            </ul>
        </div>

        <br>
        <div class="profileContent">

<h1>Dashboard</h1>
<p>Id: @Model.DogId</p>
<p>Name: @Model.Name</p>
<p>Email: @Model.Email</p>
<p>Breed: @Model.Breed</p>
<p>Age: @Model.Age</p>
<p>Body Type: @Model.BodyType</p>
<p>Education: @Model.HighestEducation</p>
<p>Barking: @Model.Barking</p>
<p>Accidents: @Model.Accidents</p>
<p>Cohabs:</p>
@foreach(var animal in @Model.Animals){
    <p>@animal.Animal.Type</p>
}
<p>Family:</p>
@foreach(var human in @Model.Humans){
    <p>@human.Human.Relationship</p>
}
<p>Interest:</p>
@foreach(var interest in @Model.Interests){
    <p>@interest.Interest.Description</p>
}