@model WagDog.Models.Dog
@using WagDog.Models
@{
    bool Editable = false;
    if(@ViewBag.currDogId == @Model.DogId){
        DogProfileViewModel EditProfile = new DogProfileViewModel();
        EditProfile.DogId = @Model.DogId;
        EditProfile.Breed = @Model.Breed;
        EditProfile.Age = @Model.Age;
        EditProfile.BodyType = @Model.BodyType;
        EditProfile.HighestEducation = @Model.HighestEducation;
        EditProfile.Barking = @Model.Barking;
        EditProfile.Accidents = @Model.Accidents;
        EditProfile.Description = @Model.Description;
        foreach (var interest in @Model.Interests){
            EditProfile.Interests.Add(@interest.InterestId);
        }
        foreach (var human in @Model.Humans){
            EditProfile.Humans.Add(@human.HumanId);
        }
        foreach (var animal in @Model.Animals){
            EditProfile.Animals.Add(@animal.AnimalId);
        }
        Editable = true;
    }
}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WagDog</title>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/site.css" />
</head>

<body>
    <div class="container body-content" id="wrapper">
        <div class="Logo">
            <h1>Who's a Good Dog?</h1>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="Dashboard">Home</a></li>
                <li><a href="Search">Search</a></li>
                <li><a href="#news">Matches</a></li>
            </ul>

            <ul style="float:right;">
                <li><a href="#news">Messages</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">My Account</a>
                    <div class="dropdown-content">
                        <a asp-controller="Dog" asp-action="Profile" asp-route-DogId=@ViewBag.currDogId>My Profile</a>
                        <a href="#">Logout</a>
                        <a href="#">Preferences</a>
                        <a href="#">Settings</a>
                    </div>
                </li>

            </ul>
        </div>

        <br>
        <div class="profileContent">
            <div class="profileTile">
                <div class="leftPanelProfile">
                    <img class="fullProfile" src=@Model.PhotoPath>
                    @if(@Editable){
                        <button>Edit Profile</button>
                    }else{
                        <ul class="icons">
                            <li class="icons"><img class="icon" style="height:45px;" src="img/email.png"></li>
                            <li class="icons"><img class="icon" style="height:37px;" src="img/msg.png"></li>
                            <li class="icons"><img class="icon" style="height:40px;" src="img/wink.png"></li>
                        </ul>
                    }
                </div>
                <div class="rightPanelProfile">
                    <h2>@Model.Name</h2>
                    <ul>
                        <li>@Model.Age Y | @(Model.Age*7) DY</li>
                        <li>Chicago,Illinois</li>
                        <li>Seeking Play Date</li>
                    </ul>
                    <table class="infoTile">
                        <tr>
                            <td><strong>Body Type</strong></td>
                            <td>@Model.BodyType</td>
                        </tr>
                        <tr>
                            <td><strong>Breed</strong></td>
                            <td>@Model.Breed</td>
                        </tr>
                        <tr>
                            <td><strong>CoHabitants</strong></td>
                            <td>@foreach(var animal in @Model.Animals){
                                @animal.Animal.Type<span>  </span>
                            }
                            @if(@Model.Animals.Count == 0){
                                <span>None</span>
                            }
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Family</strong></td>
                            <td>@foreach(var human in @Model.Humans){
                                @human.Human.Relationship<span>  </span>
                            }
                            @if(@Model.Humans.Count == 0){
                                <span>None</span>
                            }
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Education</strong></td>
                            <td> @Model.HighestEducation</td>
                        </tr>
                        <tr>
                            <td><strong>Barking</strong></td>
                            <td>@Model.Barking</td>
                        </tr>
                        <tr>
                            <td><strong>Accidents</strong></td>
                            <td>@Model.Accidents</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="profileInfo">
                <h2> About Me </h2>
                <p>@Model.Description</p>

                <h2> My Interests </h2>
                <p>
                    @foreach(var interest in @Model.Interests){
                    <span>@interest.Interest.Description  </span>
                    @if(@Model.Interests.Count == 0){
                        <span>None</span>
                    }
                }
                </p>
                
            </div>
        </div>
    </div>

</body>

</html>