@model WagDog.Models.Dog
@using WagDog.Models
@{
    DogProfileViewModel EditProfile = new DogProfileViewModel();
    bool Editable = false;
    if(@ViewBag.currDogId == @Model.DogId){
        EditProfile.DogId = @Model.DogId;
        EditProfile.Email = @Model.Email;
        EditProfile.Breed = @Model.Breed;
        EditProfile.Age = @Model.Age;
        EditProfile.BodyType = @Model.BodyType;
        EditProfile.HighestEducation = @Model.HighestEducation;
        EditProfile.Barking = @Model.Barking;
        EditProfile.Accidents = @Model.Accidents;
        EditProfile.Description = @Model.Description;
        foreach (var interest in @Model.Interests){
            EditProfile.Interests.Add(@interest.InterestId);
        }
        foreach (var human in @Model.Humans){
            EditProfile.Humans.Add(@human.HumanId);
        }
        foreach (var animal in @Model.Animals){
            EditProfile.Animals.Add(@animal.AnimalId);
        }
        Editable = true;
    }
}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WagDog</title>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/site.css" />
</head>

<body>
    <div class="container body-content" id="wrapper">
        <div class="Logo">
            <h1>Who's a Good Dog?</h1>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="/Dashboard">Home</a></li>
                <li><a href="/Search">Search</a></li>
                <li><a href="#news">Matches</a></li>
            </ul>

            <ul style="float:right;">
                <li><a href="/Messages">Messages</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">My Account</a>
                    <div class="dropdown-content">
                        <a asp-controller="Dog" asp-action="Profile" asp-route-DogId=@ViewBag.currDogId>My Profile</a>
                        <a href="#">Logout</a>
                        <a href="#">Preferences</a>
                        <a href="#">Settings</a>
                    </div>
                </li>

            </ul>
        </div>

        <br>
        <div class="profileContent">
            <div class="profileTile">
                <div class="leftPanelProfile">
                    @if(@Model.PhotoPath == null && @Editable){
                        <img class="fullProfile" id="openPhoto" src="/img/defaultDog.jpg">
                    }
                    @if(@Model.PhotoPath == null && !@Editable){
                        <img class="fullProfile" src="/img/defaultDog.jpg">
                        }
                    @if(@Model.PhotoPath != null){
                        <img class="fullProfile" src=@Model.PhotoPath>
                    }
                    @if(@Editable){
                        <button onClick="openEdit()">Edit Profile</button>
                    }else{
                        <ul class="icons">
                            <li class="icons"><a href="mailto:@Model.Email"><img class="icon" style="height:45px;" src="/img/email.png"></a></li>
                            <li class="icons"><a href="#newMessage"><img class="icon" style="height:37px;" src="/img/msg.png"></a></li>
                            <li class="icons"><a href="#newWink"><img class="icon" style="height:40px;" src="/img/wink.png"></a></li>
                        </ul>
                    }   
                </div>
                <div class="rightPanelProfile">
                    <h2>@Model.Name</h2>
                    <ul>
                        <li>@Model.Age Y | @(Model.Age*7) DY</li>
                        <li>Chicago,Illinois</li>
                        <li>Seeking Play Date</li>
                    </ul>
                    <table class="infoTile">
                        <tr>
                            <td><strong>Body Type</strong></td>
                            <td>@Model.BodyType</td>
                        </tr>
                        <tr>
                            <td><strong>Breed</strong></td>
                            <td>@Model.Breed</td>
                        </tr>
                        <tr>
                            <td><strong>CoHabitants</strong></td>
                            <td>@foreach(var animal in @Model.Animals){
                                @animal.Animal.Type<span>  </span>
                            }
                            @if(@Model.Animals.Count == 0){
                                <span>None</span>
                            }
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Family</strong></td>
                            <td>@foreach(var human in @Model.Humans){
                                @human.Human.Relationship<span>  </span>
                            }
                            @if(@Model.Humans.Count == 0){
                                <span>None</span>
                            }
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Education</strong></td>
                            <td> @Model.HighestEducation</td>
                        </tr>
                        <tr>
                            <td><strong>Barking</strong></td>
                            <td>@Model.Barking</td>
                        </tr>
                        <tr>
                            <td><strong>Accidents</strong></td>
                            <td>@Model.Accidents</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="profileInfo">
                <h2> About Me </h2>
                <p>@Model.Description</p>

                <h2> My Interests </h2>
                <p>
                    @foreach(var interest in @Model.Interests){
                    <span>@interest.Interest.Description  </span>
                    @if(@Model.Interests.Count == 0){
                        <span>None</span>
                    }
                } 
                </p>
                
            </div>
        </div>
    </div>


    <a class="lightbox" id="newMessage">
    
    <div class="messageBox" style="vertical-align: top;">
        <p style="display:inline-block;">Send To: @Model.Name</p>
        <form class="close" action="#" style="display:inline-block;">
            <button style="background-color: whitesmoke;" class="tablinks" type="submit">close</button>
        </form>

        <form class="message"  action="/sendMessage" style="width:350px; margin:auto;margin-top:10px;" method="POST">
            <input type="hidden" value="@Model.DogId" name="reciever">
            <input type="text" class="message" name="MessageContent" style="background-color:white;width:350px;height:120px;"><br>
            <button style="background-color:#FB8C00;color:white;" class="tablinks" type="submit">submit</button>
        </form>

    </div>
    
    </a>

    <a class="lightbox" id="newWink">
    
    <div class="messageBox" style="vertical-align: top; text-align:center;">
        <p style="display:inline-block;margin-top:30px;">Send A Wink To @Model.Name ?</p>

        <form class="message"  action="/sendMessage" style="width:350px; margin:auto;margin-top:10px;text-align:center;" method="POST">
            <input type="hidden" value="@Model.DogId" name="reciever">
            <input type="hidden" class="message" name="MessageContent" value=";)"><br>
            <button style="background-color:#FB8C00;color:white;" class="tablinks" type="submit">Send</button>
        </form>
        <form class="" action="#" style="display:inline-block;margin:auto;width:100px;">
           <button style="background-color: whitesmoke;margin:auto;display: inline-block;width:88px;" class="tablinks" type="submit">Back</button>
        </form>

    </div>
    
    </a>

    @Html.Partial("ProfileUpdate", (DogProfileViewModel)@EditProfile)

<div id="PhotoModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="closePhoto">&times;</span>
            <h2>Show everyone how heckin cute you are!</h2>
        </div>
        <div class="modal-body">
                <p>Select a photo for upload</p>
                <form method="post" enctype="multipart/form-data" asp-controller="Dog" asp-action="PhotoUpload">
                    <input type="file" name="Photo" accept="image/*" />
                    <button>Submit</button>
                </form>
        </div>
    </div>
</div>

</body>

</html>
<script>

    function openCategory(categoryName) {
        var i;
        var x = document.getElementsByClassName("category");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none"; 
        }
        document.getElementById(categoryName).style.display = "block"; 
    }

    function openEdit(){
        document.getElementById("RegModal").style.display = "block";
        document.getElementById("profileCats").style.display = "block";
        document.getElementById("submitProfile").style.display = "block";
        openCategory('Age');
    }


    var photo = document.getElementById('PhotoModal');
    var openPhoto = document.getElementById("openPhoto");
    var closePhoto = document.getElementById("closePhoto");

    openPhoto.onclick = function() {
        photo.style.display = "block";
    }

    closePhoto.onclick = function() {
        photo.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    $(document).ready(function(){

        $('#dashboard').submit(function(event){
            event.preventDefault();
        });

        // Log/Reg Modal scripting:
        var registrationModal = document.getElementById('RegModal');
        var closeReg = document.getElementById("closeReg");

        closeReg.onclick = function(){
            registrationModal.style.display = "none";
        }

        var AgeSlider = document.getElementById("AgeSlider");
        var AgeValue = document.getElementById("AgeValue");
        AgeValue.innerHTML = AgeSlider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        AgeSlider.oninput = function() {
            AgeValue.innerHTML = this.value;
        }
    });
</script>