@model IEnumerable<WagDog.Models.Dog>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WagDog</title>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/site.css" />
</head>

<body>
    <div class="container body-content" id="wrapper">
        <div class="Logo">
            <h1>Who's a Good Dog?</h1>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="/Dashboard">Home</a></li>
                <li><a href="/Search">Search</a></li>
                <li><a href="#news">Matches</a></li>
            </ul>

            <ul style="float:right;">
                <li><a href="/Messages">Messages</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">My Account</a>
                    <div class="dropdown-content">
                        <a href="/Dashboard">My Profile</a>
                        <a href="#">Logout</a>
                        <a href="#">Preferences</a>
                        <a href="#">Settings</a>
                    </div>
                </li>

            </ul>
        </div>

        <br>
        <div style="margin-bottom:50px;" class="profileContent">
            <div>
            <h1 style="display:inline-block"> Search </h1> 
            <div class="dropdown" style="display: inline-block;float:right;margin-top:10px;">
                <button onclick="myFunction()" class="tablinks">Sort By</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#" onclick="sort(Youngest)">Youngest</a>
                    <a href="#">Oldest</a>
                    <a href="#">Recent Member</a>
                    <a href="#">Oldest Member</a>
                </div>
            </div>
        </div>
      
        @foreach(var dog in @ViewBag.Dogs){
            <div class="searchTile">
            <a href="Profile/@dog.DogId">
                <div style="height:175px;width:175px;background-color:whitesmoke;margin:auto;">
                    @if(@dog.PhotoPath != null){
                        <img class="searchTile" src=@dog.PhotoPath>
                    }else{
                        <img class="searchTile" src="/img/defaultDog.jpg">
                    }
                </div>
                <div style="text-align: center;margin-top:10px;">
                @dog.Name @dog.Age<br>
                @dog.Breed
                </div>
            </a>
            </div>
        }

        


</div>
</div>
</html>
<script>
    sort(){
    $.post("/sort")

    }
    function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>