@model IEnumerable<WagDog.Models.Dog>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WagDog</title>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/site.css" />
</head>

<body>
    <div class="container body-content" id="wrapper">
        <div class="Logo">
            <h1>Who's a Good Dog?</h1>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="/Dashboard">Home</a></li>
                <li><a href="/Search">Search</a></li>
                <li><a href="#news">Matches</a></li>
            </ul>

            <ul style="float:right;">
                <li><a href="#news">Messages</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">My Account</a>
                    <div class="dropdown-content">
                        <a href="UserProfile">My Profile</a>
                        <a href="#">Logout</a>
                        <a href="#">Preferences</a>
                        <a href="#">Settings</a>
                    </div>
                </li>

            </ul>
        </div>

        <br>
        <div class="Content">
        <h1> Search </h1>
        @foreach(var dog in @ViewBag.Dogs){
            <a href="Profile/@dog.DogId">
            <div class="searchTile">
                <div style="height:175px;width:175px;background-color:whitesmoke;margin:auto;">
                </div>
                <div style="text-align: center;margin-top:10px;">
                @dog.Name @dog.Age<br>
                @dog.Breed
                </div>
            </div>
            </a>
        }

        


</div>
</div>
</html>